modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
publicDir = "public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 npx next dev -p 5000 -H 0.0.0.0"
waitForPort = 5000

[userenv]

[userenv.shared]
NEXT_PUBLIC_SUPABASE_URL = "https://pwzosgtsroltwmpkoena.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3em9zZ3Rzcm9sdHdtcGtvZW5hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY3ODgwNzEsImV4cCI6MjA4MjM2NDA3MX0.oWccoS44TVOcC5LOpD0CjP_5oDhqPsU1bSa4S4HUjTI"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3em9zZ3Rzcm9sdHdtcGtvZW5hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njc4ODA3MSwiZXhwIjoyMDgyMzY0MDcxfQ.xkhnhLgIlKtJKCQL9o8V_4-HqV9umvEOSqD6VYwohx4"
SUPABASE_DATABASE_URL = "postgresql://postgres.pwzosgtsroltwmpkoena:Smartconnect2025@aws-0-us-west-2.pooler.supabase.com:5432/postgres"
NEXT_PUBLIC_SITE_URL = "https://app.aimrx.com"
NEXT_PUBLIC_VENDOR_NAME = "AIM RX"
SENDGRID_FROM_EMAIL = "support@aimrx.com"
SENDGRID_FROM_NAME = "aimrx.com"
GITHUB_TOKEN = "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"
RENDER_DEV_DEPLOY_HOOK = "https://api.render.com/deploy/srv-d57f2our433s73em4ii0?key=9d-hznf1L5c"
AUTHNET_SIGNATURE_KEY = "E944071DE8B56BFCA599A5DB91B0CB2850384ADA4C2137412B113AB91D772F45B884423E79E389BA40255FDD53397A133CC6E3EE53B6B6FBDBB5E2803D72BD0C"
INTERNAL_API_KEY = "137711e2839a93296d6424fe3890b6ef6eba4c9e01b7a92d6c8235066dac6386"
EASYPOST_API_KEY = "EZAK52c4e70e1d474a66ba1224e7e1170837qtzqDdMtackqJSpzSQ26wQ"
INTERNAL_API_SECRET = "8ec781e26cdd503f636ecf25a564ba60671d4ad53afac68233aed65580919a82"
DIGITALRX_WEBHOOK_SECRET = "drx_09bc4fc62c369840d6f30eceb0859c77c4f70b1bc461bc18d087ef7615647558"
DIGITALRX_WEBHOOK_USERNAME = "aimrx-webhook"
DIGITALRX_WEBHOOK_PASSWORD = "z4_JcrT2g-8q04B3Wo_fpJe3-fzOuJqp"
AUTHNET_API_LOGIN_ID = "3AsT53akS"
AUTHNET_PUBLIC_KEY = "7xEf37KUfJR76UhyBjeMju8YpQH3tHTV2wHFg33ZjSfY58TRK6aRhRj52C3x2R3f"
PHARMACY_NOTIFICATION_EMAILS = "ley@greenwichrx.org,doug@im-athletic.com"
CRON_SECRET = "62a860797337a78984efdcc0f680956444469a0efb43eaa473906ce2011bab9e"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
